<div class="center jumbotron">
        <% if logged_in? %>
          <% if current_user.admin? %>
            <h1>Contents</h1><br>
            <h2>
              <li><%= link_to "ユーザ一覧", list_path %></li><br><br>
              <li><%= link_to "物件一覧", list_path %></li><br><br>
              <li><%= link_to "予約一覧Add New Book", new_path %></li>
              </h2>
          <% else %>
          <h1>Contents</h1><br>
          <h2>
            <li><%= link_to "予約一覧", list_path %></li><br><br>
            <li><%= link_to "ユーザー情報変更", new_path %></li>
          </h2>
          <% end %>
        <% else %>
          <h1>Space App</h1>
          <h2>
            空いた空間・空いた時間、有効しませんか？
          </h2>

          <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <% @user = User.new unless @user %></li>
            <%= form_for(@user, url: signup_path) do |f| %>
              <%= render 'shared/error_messages' %>

              <%= f.label :name %>
              <%= f.text_field :name, class: 'form-control' %>

              <%= f.label :email %>
              <%= f.email_field :email, class: 'form-control' %>

              <%= f.label :password %>
              <%= f.password_field :password, class: 'form-control' %>

              <%= f.label :password_confirmation, "Confirmation" %>
              <%= f.password_field :password_confirmation, class: 'form-control' %>

              <%= f.submit "Create my account", class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
        <% end %>
</div>
