<% provide(:title,"Space Detail") %>
  <aside class="col-md-4">
        <body>
            <h1>Space</h1>
            <div class="container">
                <table border="1" style="border-collapse: collapse">
                    <tr>
                        <th>space_name</th>
                        <th>ward_id</th>
                        <th>price</th>
                    </tr>

                    <tr>
                        <td><%= @space.space_name %> </td>
                        <td><%= @space.ward_id %> </td>
                        <td><%= @space.price %> </td>
                        <td>
                        | <%= link_to  "edit" , edit_book_path(@space.id)  %>
                        | <%= link_to "delete", @book, method: :delete,  data: { confirm: "You sure?" } %>
                        </td>
                    </tr>
                </table>
            </div>
        </body>
    </aside>
