<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Space App", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
            <li><%= link_to "Home", root_path %></li>
            <li><%=link_to "#{session[:name]}さん",current_user %></li>
            <li><%= link_to "Log out", logout_path, method: :delete %></li>
        <% else %>
            <li><% @user = User.new unless @user %></li>
            <li><%= form_for(@user, url: signup_path) do |f| %></li>
            <li><%= render 'shared/error_admin_messages' %></li>

            <li><%= f.label :email %></li>
            <li><%= f.email_field :email, class: 'form-control' %></li>

            <li><%= f.label :password %></li>
            <li><%= f.password_field :password, class: 'form-control' %></li>

            <li><%= f.submit "Log in", class: "btn btn-primary" %></li>
            <% end %>
        <% end %>
      </ul>
    </nav>
  </div>
</header>